#div-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#div-game {
	text-align: left;
	font-family: 'Press Start 2P', cursive;
	width: 500px;
	height: 500px;
}

#div-entryOptions {
	text-align: left;
	padding-left: 50px;
}