
/* START OF COMMONUI.PHP */
#div_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

#div_game {
	background-color: black;
	color: white;
	text-align: center;
	align-items: center;
	font-family: 'Press Start 2P', cursive;
	width: 1024px;
	height: 768px;
}

/* END OF COMMONUI.PHP */
/* START OF INDEX.PHP */

#div_options {
	margin: auto;
	color: white;
	text-align: left;
	width: 512px;
}

#ul_options {
	text-align: left;
	padding-left: 50px;
}

.btngrp_main, .btngrp_options {
	background-color: black;
	color: white;
	font-family: 'Press Start 2P', cursive;
}

.btngrp_main:hover, .btngrp_options:hover {
	cursor: pointer;
}

/* END OF INDEX.PHP */
/* START OF START.PHP */

#div_hidden {
	align-items: center;
	display: none;
	margin: auto;
	color: white;
	text-align: left;
	width: 512px;
}

#btn_return {
	display: block;
	margin: 0 auto;
}

input {
	background-color: black;
	color: white;
	font-family: 'Press Start 2P', cursive;
}

/* END OF START.PHP */
/* START OF INFO.PHP */

p#p_info2, p#p_info3, p#p_info4, p#p_info5, p#p_info6, button#btn_info_return {
	display: none;
}

div#div_info {
	align-items: center;
	margin: auto;
	color: white;
	text-align: left;
	width: 512px;
}

button#btn_info_continue {
	/* 512 / 4 makes for a centered button */
	margin: 0 128;
}

/* END OF INFO.PHP */
/* START OF HISCORES.PHP */

div#div_txtblock {
	background-color: white;
	color: black;
	height: 128px;
	width: 128px;
	text-align: center;
	vertical-align: middle;
	line-height: 128px;
}

.p_inline {
	float: left;
	display: inline;
}

button#btn_points {
	width: 256px;
	border-style: solid;
	border-width: 5px;
	border-radius: 5px;
	padding: 5px;
}

/* END OF HISCORES.PHP */