
/* START OF COMMONUI.PHP */
#div_wrapper, .vertical-layout {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

#div_game {
	display: flex;
	position: relative; /* Makes overlays get positioned relative to this container */
	flex-direction: column;
	align-items: center;
	background-color: black;
	color: white;
	text-align: center;
	align-items: center;
	font-family: 'Press Start 2P', cursive;
	width: 1024px;
	height: 768px;
}

/* END OF COMMONUI.PHP */
/* START OF INDEX.PHP */

#div_options {
	margin: auto;
	color: white;
	text-align: left;
	width: 512px;
}

#ul_options {
	text-align: left;
	padding-left: 50px;
}

.btngrp_main, .btngrp_options {
	background-color: black;
}

input[type="number"] {
	background-color: inherit;
	color: inherit;
	font-family: inherit;
	width: 100px;
}

body {
	color: white;
	font-family: 'Press Start 2P', cursive;
}

.btngrp_main:hover, .btngrp_options:hover {
	cursor: pointer;
}

/* END OF INDEX.PHP */
/* START OF START.PHP */

#div_hidden {
	align-items: center;
	display: none;
	margin: auto;
	color: white;
	text-align: left;
	width: 512px;
}

#btn_return {
	display: block;
	margin: 0 auto;
}

input {
	background-color: black;
	color: white;
	font-family: 'Press Start 2P', cursive;
}

/* END OF START.PHP */
/* START OF INFO.PHP */

p#p_info2, p#p_info3, p#p_info4, p#p_info5, p#p_info6, button#btn_info_return {
	display: none;
}

div#div_info {
	align-items: center;
	margin: auto;
	color: white;
	text-align: left;
	width: 512px;
}

button#btn_info_continue {
	/* 512 / 4 makes for a centered button */
	margin: 0 128;
}

/* END OF INFO.PHP */
/* START OF HISCORES.PHP */

div#div_txtblock {
	background-color: white;
	color: black;
	height: 128px;
	width: 128px;
	text-align: center;
	vertical-align: middle;
	line-height: 128px;
}

.p_inline {
	float: left;
	display: inline;
}

button#btn_points {
	width: 256px;
	border-style: solid;
	border-width: 5px;
	border-radius: 5px;
	padding: 5px;
}

/* END OF HISCORES.PHP */

td, th {
	padding: 8px;
}

td[colspan] {
	text-align: center;
}

hr {
	border: none;
	height: 7px;
	width: 90%;
	background-color: red;
}

button, input[type="submit"] {
	background-color: inherit;
	font-family: inherit;
	color: white;
	cursor: pointer;
	padding: 5px;
}

div.overlay
{
	background-color: inherit;
	position: absolute;
	text-align: center;
	padding: 10px;
	width: 100%;
	height: 100%;
}

table.river
{
	width: 75%;
	height: 75%;
}

.water
{
	background-color: #5cb5fb;
	text-align: center;
}

.wagon
{
	background-image: url("assets/Wagon.png") !important;
	background-position: center;
	background-size: 100%;
}

.land
{
	background-color: brown;
}

.rock
{
	background-image: url("assets/Rock.png");
	background-position: center;
	background-size: 100%;
}

.inline
{
	display:inline;
}

.greenbox
{
	background-color: greenyellow;
	height: 100px;
	width: 100%;
}

@keyframes wagonGo
{
	0% { transform: translate(0px, 0px) rotate(0deg); }
	16% { transform: translate(0px, -20px) rotate(0deg); }
	33% { transform: translate(0px, -20px) rotate(-33deg); }
	50% { transform: translate(0px, -20px) rotate(33deg); }
	66% { transform: translate(0px, -20px) rotate(-33deg); }
	83% { transform: translate(0px, -20px) rotate(0deg); }
	100% { transform: translate(0px, 0px) rotate(0deg); }
}

.animatedWagon
{
	animation: wagonGo 4s infinite;
	transform-origin: center center;
}

/* Lays elements out horizontally, centers them vertically, then evenly spaces them horizontally */
div.horizontal-layout
{
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-around;
}
