
/* START OF COMMONUI.PHP */
#div_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

#div_game {
	background-color: black;
	color: white;
	text-align: center;
	align-items: center;
	font-family: 'Press Start 2P', cursive;
	width: 1024px;
	height: 768px;
}

/* END OF COMMONUI.PHP */
/* START OF INDEX.PHP */

#div_options {
	margin: auto;
	color: white;
	text-align: left;
	width: 512px;
}

#ul_options {
	text-align: left;
	padding-left: 50px;
}

.btngrp_main, .btngrp_options {
	background-color: black;
	color: white;
	font-family: 'Press Start 2P', cursive;
}

.btngrp_main:hover, .btngrp_options:hover {
	cursor: pointer;
}

/* END OF INDEX.PHP */
/* START OF START.PHP */

#div_hidden {
	align-items: center;
	display: none;
	margin: auto;
	color: white;
	text-align: left;
	width: 512px;
}

#btn_return {
	display: block;
	margin: 0 auto;
}

/* END OF START.PHP */
/* START OF PARTY.PHP */

input {
	background-color: black;
	color: white;
	font-family: 'Press Start 2P', cursive;
}

/* END OF PARTY.PHP */